body {
    text-align: center;
}

.color { display: inline-block;
}

#black { border: black 1px solid;
background-color: black;
height: 70px;
width: 70px;
margin: 15px;

}
#lilac {border: black 1px solid;
background-color: #e0aaff;
height: 70px;
width: 70px;
margin: 15px;
}

#dark-purple{ border: black 1px solid;
    height: 70px;
    width: 70px;
    margin: 15px;
 background-color:#3c096c;   
 
}

#light-purple { border: black 1px solid;
background-color: #9d4edd;
height: 70px;
width: 70px;
margin: 15px;
}
#button-random-color {
    display:block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom: 20px;
}

.pixel {
    border: black solid 1px;
    height: 40px;
    width: 40px;
    background-color: white;
}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
}